* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

body, html {
    min-height: 100vh; /* Устанавливаем минимальную высоту в 100% высоты экрана */
    margin: 0; /* Убираем отступы по краям */
    padding: 0; /* Убираем внутренние отступы */
    background: linear-gradient(45deg, #2980b9, #2ecc71);
    background-size: 100% 100%; /* Размер градиента */
}
.page {
    display: none;
    padding: 20px;
}
.container{
    margin: 50px;
}
.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 15px 15px;
}
.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    transition: 0.3s;
}
.nav-item-phone{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    transition: 0.3s;
}

.nav-item-left {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    transition: 0.3s;
}

.nav-container-left {
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    flex-direction: column;
}
.nav-container-mobile{
    display: flex;
    flex-direction: column;
}
.scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #505050;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 5000;
}

.title-nav-container h1 {
    margin: 0;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.title-nav-container:hover h1 {
    transform: translateY(-10px);
}

.nav-item::after, .nav-item-left::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(204, 174, 22);
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
}

.nav-item:hover::after, .nav-item-left:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item:hover, .nav-item-left:hover {
    background-color: rgba(70, 70, 70, 0.1);
    color: rgb(204, 174, 22);
    transform: translateX(-10px);
}
.nav-item-left:hover{
    transform: translateX(10px);
}

.nav-icons{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.animation-container {
    transition: background-color 0.3s ease;
    width: 40px;
    height: 40px;

}

.title-nav-container {
    position: relative;
    overflow: hidden;
    width: 70%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */

}
.title-nav-container h1 {
    margin: 0;
    position: relative;
    transition: transform 0.3s ease; /* Анимация для текста */
    transform: translateY(0); /* Изначальная позиция текста (по центру) */
}

/* При наведении на контейнер */
.title-nav-container:hover h1 {
    transform: translateY(-50px); /* Текст смещается вверх */
}
.title-nav-container:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.title-nav-container::after,
.title-nav-container::before {
    content: '';
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 200%;
    height: 60px;
    background: url('	https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg') repeat-x;
    
    background-size: 50% 100%; /* Обеспечиваем бесшовность */
    transition: bottom 0.3s ease;
}
.pol-kom-img{
    width:  300px;
    height: 300px;
    border-radius: 5px;
}
/* Первый слой волн (медленный, светлый) */
.title-nav-container::after {
    animation: wave 6s linear infinite;
    z-index: 1;
}

/* Второй слой волн (тёмный, быстрый) */
.title-nav-container::before {
    background: url('	https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg') repeat-x;
    background-size: 50% 100%; /* Обеспечиваем бесшовность */
    animation: wave-fast 3s linear infinite;
    z-index: 2;
}

.title-nav-container:hover::after,
.title-nav-container:hover::before {
    bottom: 0;
}

/* Additional styles as needed */
@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Перемещение на 50% ширины изображения */
    }
}

@keyframes wave-fast {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Перемещение на 50% ширины изображения */
    }
}
.games{
    max-width: 100%;
    width: 100%;
    min-height: 80vh;
    height: 100%;
    margin: 50px auto;
    padding: 0 20px;
}
.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование всех .games-item по горизонтали */
    align-items: center;     /* Центрирование всех .games-item по вертикали */

}
.own-discord{
    display: block;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgba(28, 27, 27, 0.8);
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    padding: 17px;
    transition: bottom 0.5s ease;
}
.games-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 330px;
    margin: 10px;
    perspective: 1000px; /* Добавляем перспективу */
    overflow: visible; /* Отключаем обрезку */
    transition: 0.3s;
}

.games-item-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* Это нужно для 3D-поворота */
}

.games-item:hover .games-item-inner {
    transform: rotateY(180deg); /* Поворот по оси Y на 180 градусов при наведении */
}

.games-item .front, .games-item .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Скрываем обратную сторону */
}

.games-item .front {
    z-index: 2; /* Передняя часть сверху */
    transform: rotateY(0deg); /* Изначальная позиция передней части */
}

.games-item .back {
    z-index: 1;
    transform: rotateY(180deg); /* Задняя часть повернута на 180 градусов */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 17px;
}
.games-item:hover{
    filter: drop-shadow(0 0 20px black);
}
.back .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Растягиваем видео по размеру блока */
    z-index: 0; /* Видео будет на заднем плане */
}

.back .content {
    position: relative;
    z-index: 1; /* Контент будет поверх видео */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.back p {
    margin: 10px 0;
    z-index: 10;
    text-shadow: 0px 0px 30px black;
}
.activity {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.activity-red{
    color: rgb(204, 22, 22);
    font-weight:bold;
}
.activity-lime{
    color: #8AFF8A;
    font-weight:bold;
}
.activity-darkRed{
    color: rgb(91, 11, 11);
    font-weight:bold;
}
.activity-white{
    color: white;
    font-weight:bold;
}
.activity-green{
    color: green;
    font-weight:bold;
}
.activity-black{
    color: black;
    font-weight:bold;
}
.games-title{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 50px;
}
.more_button{
    background: rgba(104, 90, 28, 0.4);
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 90%;
    height: 50px;
    transition: 0.5s;
    z-index: 10;
}
.more_button:hover{
    transform: scale(1.1);
    background: rgba(255, 220, 46, 1);
}
.games-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.games-more{
    text-align: center;
    display: block;
    color: white;
    font-size: 3rem;
    width: 500px;
}
/* Заголовок секции */
.section-title {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.section-content {
    margin-bottom: 20px;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    justify-content: center;
    color: white;
}
.container-card {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Чтобы карточки могли переходить на следующую строку */
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 30%; /* Для больших экранов, 3 карточки в ряд */
    box-sizing: border-box;
}

.card-logo {
    width: 60px;
    height: 60px;
}


.activity-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрируем карточки внутри контейнера */
    gap: 20px; /* Отступы между карточками */
}

.activity-card {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем содержимое карточки */
    width: calc(29.5%); /* Каждый контейнер занимает 30% ширины */
    height: 450px; /* Высота карточки */
    position: relative; /* Для абсолютного позиционирования hr */
    transition: 0.3s;
    border-radius: 20px;
    overflow: hidden;

}
.activity-card-more {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    align-items: center;
    width: calc(33% - 20px); /* Каждый контейнер занимает 50% ширины минус отступ */
    height: 550px; /* Автоматическая высота */
    position: relative; /* Для абсолютного позиционирования hr */
    transition: 0.3s;
}
.rules-card {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    color: rgb(204, 174, 22);
    min-height: 200px; /* Задаем минимальную высоту для центрирования */
    margin-top: 100px;
    margin-bottom: 100px;
    transition: 0.3s;
    text-decoration: none;
    z-index: 10; /* Элемент будет позади rules-card */
}
.a-card-lr {
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    color: rgb(204, 174, 22);
    min-height: 30px;
    transition: 0.3s;
    text-decoration: none;
    z-index: 10; /* Элемент будет позади rules-card */
}
.a-card-lr:hover{
    box-shadow: 0 0 10px black;
    text-decoration:underline;
}
.rules-card:hover{
    box-shadow: 0 0 10px black;
    text-decoration:underline;
}
.rules-card-logo {
    height: 50px;
    width: 50px;
    position: relative;
}
.card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-align: center; /* Центрирование текста */
}
.activity-card-title{
    position: absolute;
    bottom:0; /* Располагаем текст в верхней части контейнера */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Смещаем элемент на половину его ширины для точного центрирования */
    font-size: 24px;
    margin-bottom: 38px;
    color: white;
    text-align: center;
    width: 100%; /* Опционально, можно убрать */
    z-index: 1000;
}
.card-title-con {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(204, 174, 22);
    text-align: center; /* Центрирование текста */
}
.activity-card-title-url {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgba(255, 220, 46, 1);
    text-align: center;
    width: 100%;
    display: inline-flex; /* Используем inline-flex для размещения текста и иконки на одной линии */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
}
.card-text {
    font-size: 18px;
    color: white;
    display: flex; /* Включаем flexbox для контейнера */
    justify-content: center; /* Центровка по горизонтали */
    align-items: center; /* Центровка по вертикали */
    text-align: center;
    margin: 0 auto;
}
.activity-card-text {
    font-size: 18px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    opacity: 0; /* Начальное состояние - прозрачный */
    transition: opacity 0.3s ease; /* Плавный переход */
    z-index: 1000;
}
.activity-card:hover .activity-card-text {
    opacity: 1; /* При наведении текст становится видимым */
}
.activity-card:hover .activity-img {
    opacity: 0.2;
    z-index: 1;
}
.activity-img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    transition: opacity 0.3s ease; /* Добавляем плавный переход */
}
.card hr {
    height: 10px;
    background: linear-gradient(45deg, #2980b9, #2ecc71);
    background-size: 1000% 500%;
    border: none;
    width: calc(100% + 40px); /* Увеличиваем ширину на 40px для компенсации паддинга */
    margin: 5px -20px; /* Отрицательный margin, чтобы компенсировать padding: 20px */
}
.activity-card hr {
    position: absolute;
    height: 100px; /* Высота с учётом отступов сверху и снизу */
    border: none;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
}

.activity-10-hr{
    background: #002d00;
}
.activity-9-hr{
    background: #004900;
}
.activity-8-hr{
    background: #006b00;
}
.activity-7-hr{
    background: #008400;
}
.activity-6-hr{
    background: #049504;
}
.activity-5-hr{
    background: #04c104;
}
.activity-4-hr{
    background: #5fad00;
}
.activity-3-hr{
    background: #9daf00;
}
.activity-2-hr{
    background: #d29c00;
}
.activity-1-hr{
    background: #c85300;
}
.activity-0-hr{
    background: #e25700;
}
.parties {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Центрирует элементы по горизонтали */
    align-items: center; /* Центрирует элементы по вертикали */
}

.party {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    border-radius: 20px;
    transition: 0.3s;
}
.party:hover{
    box-shadow: 0 0 10px black;
    transform: scale(1.03);
}

.party-flag, .party-symbol {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0; /* Убирает возможные внешние отступы */
}

.party-flag{
    border-radius: 20px 0 0 0 ;
}
.party-symbol{
    border-radius: 0 20px 0 0;
}
.details-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 0 0 20px 20px;
    transition: 0.3s;
    font-size: 1.4rem;
    font-weight: 600;
}
.party-header{
    color: white;
    margin: 10px;
    font-size: 20px;
}
.details-btn:hover {
    background-color: #0ab6e6;
}
.party-symbol {
    width: 200px;
    height: 200px;
    transition: transform 0.8s ease-in-out, top 0.8s ease-in-out, left 0.8s ease-in-out;
    position: relative;
    z-index: 10;
}
/* Стиль для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* На переднем плане */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Перемещение в центр */
    width: 80%; /* Ширина модального окна */
    max-width: 80%; /* Максимальная ширина */
    height: 100%; /* Высота модального окна */
    max-height: 80%; /* Максимальная высота */
    background-color: #222222; /* Полупрозрачный фон */
    transition: opacity 0.3s ease; /* Плавное исчезновение */
    opacity: 0; /* Начальная непрозрачность */
    z-index: 1000;
    color: white;
    border-radius: 10px
}

/* Когда окно отображается, устанавливаем непрозрачность */
.modal.fade-in {
    display: block;
    opacity: 1;
    animation: fadeIn 0.5s forwards;
}

/* Когда окно исчезает */
.modal.fade-out {
    opacity: 0;
    animation: fadeOut 0.3s forwards;
}
.reputation {
    display: flex;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; /* Белый цвет текста для контраста */
    text-align: center; /* Центрируем текст внутри контейнера */
    height: 420px; /* Фиксированная высота контейнера */
    margin: 20px;
}

.reputation-left, .reputation-right {
    flex: 1;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон для каждого контейнера */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем текст по вертикали */
    align-items: center; /* Центрируем текст по горизонтали */
    position: relative; /* Для позиционирования заголовка */
    transition: 0.3s;
}

.reputation-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.reputation-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.separator {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачная черная полоса с прозрачностью 0.3 */
    margin: 0;
}

.reputation h4 {
    margin-top: 10px; /* Небольшой отступ сверху */
    font-size: 20px;
    position: absolute; /* Абсолютное позиционирование заголовка */
    top: 10px; /* Располагаем заголовок сверху */
    left: 50%; /* Горизонтальное выравнивание по центру */
    transform: translateX(-50%); /* Корректировка для точного центрирования */
}

.reputation p {
    margin: 5px 0;
    font-size: 16px;
    margin-top: 40px; /* Добавлен отступ сверху, чтобы текст не перекрывался с заголовком */
}

.reputation-left:hover, .reputation-right:hover {
    box-shadow: 0 0 10px black;
}

.reputation-left p {
    transition: 0.3s;
}

.reputation-right p {
    transition: 0.3s;
}
/* Для контейнера .reputation-left */
.reputation-left:hover p:nth-child(1) {
    color: #ff6347; /* Цвет для первого абзаца */
}

.reputation-left:hover p:nth-child(2) {
    color: #ffd700; /* Цвет для второго абзаца */
}

.reputation-left:hover p:nth-child(3) {
    color: #adff2f; /* Цвет для третьего абзаца */
}
.reputation-left:hover p:nth-child(4) {
    color: #27be19; /* Цвет для третьего абзаца */
}
.reputation-left:hover p:nth-child(5) {
    color: #1c8513; /* Цвет для третьего абзаца */
}
.reputation-left:hover p:nth-child(6) {
    color: #1c7714; /* Цвет для третьего абзаца */
}
/* Для контейнера .reputation-right */
.reputation-right:hover p:nth-child(2) {
    color: #c70d00; /* Цвет для второго абзаца */
}

.reputation-right:hover p:nth-child(3) {
    color: #d77300; /* Цвет для третьего абзаца */
}
.reputation-right:hover p:nth-child(4) {
    color: #fdab1c; /* Цвет для третьего абзаца */
}
.reputation-right:hover p:nth-child(5) {
    color: #ffee34; /* Цвет для третьего абзаца */
}
.reputation-right:hover p:nth-child(6) {
    color: #fbff23; /* Цвет для третьего абзаца */
}
.reputation-right:hover p:nth-child(7) {
    color: #f1ff6e; /* Цвет для третьего абзаца */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 1000px;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        width: 1000px;
    }
    to {
        opacity: 0;
        width: 0;
    }
}
::-webkit-scrollbar {
    width: 12px; /* Ширина вертикальной полосы прокрутки */
    height: 12px; /* Высота горизонтальной полосы прокрутки */
}

/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: #333; /* Цвет фона полосы прокрутки */
    border-radius: 0 10px 10px 0; /* Скругление для трека */
}

/* Скругленная полоса прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #444; /* Цвет полосы прокрутки */
    border-radius: 0 10px 10px 0;  /* Радиус скругления для полосы */
}
/* Контейнер для содержимого модального окна */
.modal-content {
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto; /* Возможность прокрутки содержимого */
    height: 100%; /* 100% от высоты модального окна */
    max-height: 100%; /* Ограничение по высоте */
}

/* Стиль для закрытия модального окна */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Стиль для текста в модальном окне */
.modal-body {
    max-height: calc(100vh - 100px); /* Ограничение высоты текста */
    overflow-y: auto; /* Возможность прокрутки */
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.burger {
    display: none;
    opacity: 0;
    margin-top: 10px;
    margin-left: 10px;
}
.burger-checkbox {
    display: none;
    opacity: 0;
    margin-top: 10px;
    margin-left: 10px;
}
.menu-list {
    display: none;
}
@media (max-width: 768px) {
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
      }
      .burger {
        cursor: pointer;
        display: block;
        position: fixed;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
        transform: translate(-10px 10px);
        z-index: 25000;
        opacity: 1;
      }
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
      }
      .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: #444;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 200px;
        z-index: 15000;
        line-height: 30px;
        width: 100%;
        position: fixed;
      }
      .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
      }
    
    /* Показ меню при активированном чекбоксе */
    /* Уменьшаем отступы и размер шрифта в контенте */
    .container {
        margin: 20px;
    }
    
    .games-list {
        flex-direction: column; /* Располагаем элементы по вертикали */
        justify-content: center;
    }

    .party {
        width: 90%; /* Уменьшаем ширину партий для мобильных */
        height: auto;
    }

    .party-flag, .party-symbol {
        width: 100px; /* Уменьшаем размер флага и символа */
        height: 100px;
    }

    /* Уменьшаем шрифт в заголовках */
    .section-title {
        font-size: 24px;
    }

    /* Скрытие кнопки 'Подробнее' в партии на мобильных */
    .details-btn {
        font-size: 1.2rem;
    }
}

/* Медиазапрос для очень маленьких экранов (телефоны) */
@media (max-width: 480px) {
    .title-nav-container {
        display: none; /* Скрываем контейнер с заголовком */
    }

    .party {
        width: 100%; /* Партия займет всю ширину */
        height: auto;
        text-align: center;
    }

    .party-flag, .party-symbol {
        width: 80px; /* Флаг и символ ещё меньше */
        height: 80px;
    }

    .section-title {
        font-size: 20px; /* Меньший размер шрифта заголовка */
    }

    .games-title {
        font-size: 1.5rem; /* Уменьшаем размер заголовка игр */
    }

    /* Внутренний отступ у карточек партий */
    .party-header {
        font-size: 16px;
    }

    .details-btn {
        font-size: 1rem;
    }
    .modal-content{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .rules-card {
        width: 90%; /* Ширина карточки будет 90% от ширины экрана на мобильных устройствах */
        padding: 10px; /* Уменьшаем отступы */
    }

    .card-title {
        font-size: 20px; /* Уменьшаем размер шрифта для мобильных устройств */
    }
    
}
@media (max-width: 768px) {
    .activity-card {
        width: 100%; /* Полная ширина для карточек на мобильных */
        height: 550px;
    }
    .activity-card-text{
        opacity: 1;
    }
    .activity-img{
        opacity: 0.3;
    }
}
@media (max-width: 768px) {

    .parties {
        flex-direction: column;  /* Меняем расположение элементов на вертикальное */
        gap: 15px;  /* Уменьшаем промежутки между элементами */
    }

    .party {
        width: 100%;  /* Убираем фиксированную ширину, чтобы карточки занимали всю ширину */
        max-width: 400px;  /* Устанавливаем максимальную ширину */
        margin: 0 auto;  /* Центрируем элементы по горизонтали */
    }

    .party-flag, .party-symbol {
        width: 150px;  /* Уменьшаем размеры флага и символа */
        height: 150px;  /* Уменьшаем размеры флага и символа */
    }

    .details-btn {
        padding: 8px 15px;  /* Уменьшаем отступы кнопки */
        font-size: 1.2rem;  /* Уменьшаем размер шрифта */
    }

    .party-header {
        font-size: 18px;  /* Уменьшаем размер шрифта заголовка */
    }

    /* Модальное окно */
    .modal {
        width: 100%;  /* Уменьшаем ширину модального окна */
        max-width: 100%;  /* Максимальная ширина */
    }
    /* Контейнер для текста внутри модального окна */
    .modal-text {
        width: 100%; /* Занимает всю ширину */
        height: auto; /* Высота зависит от текста */
        padding: 10px; /* Паддинг внутри текстового контейнера */
    }
    .party-symbol {
        width: 150px;  /* Уменьшаем размеры символа */
        height: 150px;  /* Уменьшаем размеры символа */
    }
}

/* Для очень маленьких экранов (например, телефоны с маленькими экранами) */
@media (max-width: 480px) {
    .party-flag, .party-symbol {
        width: 49%;  /* Еще меньше флаг и символ */
        height: 120px;  /* Еще меньше флаг и символ */
    }

    .details-btn {
        padding: 6px 12px;  /* Уменьшаем отступы кнопки */
        font-size: 1rem;  /* Еще меньше размер шрифта */
    }

    .party-header {
        font-size: 16px;  /* Еще меньше размер шрифта заголовка */
    }
}
/* Для экрана с шириной больше 768px */
/* Для экрана с шириной больше 768px */
@media (min-width: 768px) {
    /* Стили для десктопной версии */
    .desktop-version {
        display: flex;  /* или любой другой display, который нужен для desktop */
    }
    .mobile-version {
        display: none;  /* Скрыть мобильную версию */
    }
}

/* Для экрана с шириной 768px или меньше */
@media (max-width: 768px) {
    /* Стили для мобильной версии */
    .desktop-version {
        display: none;  /* Скрыть десктопную версию */
    }
    .mobile-version {
        display: flex;  /* Показываем мобильную версию */
        line-height: 50px;
    }
}
/* Адаптация для мобильных устройств */
@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .card {
        width: 100%; /* Одна карточка на весь экран для очень маленьких экранов */
    }
}
@media (max-width: 768px) {
    .reputation {
        flex-direction: column; /* На мобильных устройствах делаем блоки вертикальными */
        height: 1000px;
    }

    .reputation-left, .reputation-right {
        width: 100%; /* Ширина каждого контейнера будет 100% */
        padding: 10px; /* Уменьшаем отступы для мобильных устройств */
        height: 1000px;
    }

    .reputation h4 {
        font-size: 18px; /* Уменьшаем размер заголовка */
        top: 20px; /* Корректируем позицию заголовка для мобильных устройств */
    }

    .reputation p {
        font-size: 14px; /* Уменьшаем размер текста для мобильных устройств */
    }

    .separator {
        display: none; /* Прячем разделитель на мобильных устройствах */
    }
    .reputation-left{
        border-radius: 10px 10px 0 0;
    }
    .reputation-right{
        border-radius: 0px 0px 10px 10px;
    }
}

@media (max-width: 480px) {
    .reputation h4 {
        font-size: 16px; /* Еще больше уменьшаем размер заголовка на маленьких экранах */
    }

    .reputation p {
        font-size: 12px; /* Уменьшаем размер текста */
    }
}